.user__name {
    font-weight: bold;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.date form #prev__n,
#next__n {
    width: 45px;
    height: 30px;
    border-color: #0c7ce4;
    font-size: 20px;
    color: #0c7ce4;
    margin: 0 30px;
}

.date form #prev__n:hover {
    color: #fff;
    background-color: #0c7ce4;
}

.date form #next__n:hover {
    color: #fff;
    background-color: #0c7ce4;
}

.date__n {
    font-size: 30;
    font-weight: bolder;
    text-align: center;
}

.month_chenge {
    display: flex;
    justify-content: center;
    margin-bottom: 50;
}

.table-title {
    border-bottom: solid 1px #a9a9a9;
    cursor: pointer;
    border-top: solid 1px #a9a9a9;
}

.table-value-info {
    border-bottom: solid 1px #a9a9a9;
    cursor: pointer;
    height: 7vh;
}

.attendance_list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.attendance_list th {
    text-align: center;
    width: 20%;
    min-width: 140px;
    padding: 30px;
    height: 60px;
}